body {
    padding-top: 20px;
    background-color: #b0c4de;
}

h2 {
  text-indent: 55px;
}


h1 {
  text-align: center;
}


h5 {
  text-align: center;
}


.ui {
  text-indent: 55px;
}

p {
    margin-top: 20px;
    text-indent: 55px;
}

ul {
    width: 1400px;
    margin: 0 auto;
    text-align: left;
}
