body {
    padding-top: 20px;
    background-color: #b0c4de;
}

h2 {
  text-indent: 55px;
}


h1 {
  text-align: center;
}


h5 {
  margin-left: 80px;
}

.ui {
  text-indent: 55px;
}

p {
    margin-top: 20px;
    text-indent: 55px;
}
