<h1 id="title">Welcome to New York City's Find-A-Farmers-Market in your borough, created in Ember.js</h1>

<br>

<div class="main-content">

<div class="ui icon input">{{input value=search placeholder="Search by Borough"}}<i class="search icon"></i>
</div>

<div class="small ui pink button" {{action "search"}}> SUBMIT </div>

<p>
Borough options - Brooklyn, Bronx, Manhattan, Queens
</p>


{{outlet}}

<center>
<img class="ui large rounded image" src="http://static1.squarespace.com/static/53012270e4b0d77f9537e143/t/53012516e4b0c37a40011339/1392583960255/BuyFreshBuyLocalLogo.jpg">
</center>

</div>
